---
import { Icon } from 'astro-icon';
---

<section class="bg-green-50 dark:bg-slate-800">
  <div id="intro" class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      Prenez contact
    </span> 
    pour toute réservation ou information !
  </div>
</section>
