---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Gallery from '~/components/widgets/Gallery.astro'
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{ text: 'Prendre contact', href: 'mailto:simonguillaume@rocketmail.com', icon: 'tabler:at' }}
    callToAction2={{ text: 'En savoir plus', href: '#intro' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'HeroBanner of Namaste' }}
  >
    <Fragment slot="title">
      Appartement de plain pied<span class="text-accent dark:text-white highlight"> à deux pas d'Annecy</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="mb-1 font-bold text-green-600">Namaste</span>
      est un appartement situé en rez de jardin d'une maison, à 10 minutes à pied de la plage, de la piste cyclable et au pied du Semnoz.
    </Fragment>
  </Hero>


  <Note />
  
  <Fragment>
    <p class="px-20 pb-20 tracking-tight dark:text-white mt-20">Appartement situé en rez de jardin d'une maison, à 10 minutes à pied de la plage (plage municipale de Sévrier ou Clos Berthet), 
      de la piste cyclable et au pied du Semnoz. L'appartement est composé de 2 pièces, une chambre avec 2 lits simples et une grande salle à manger, 
      salon avec canapé convertible. Cuisine équipée et salle de bain avec douche à l’italienne. Linge de lit et linge de toilette fournis. 
      Mise à disposition d'un paddle en location et sauna extérieur en surplus.</p>
  </Fragment>
  
  <Gallery
    title=""
    subtitle=""
    items={[
      [
        {
          src: import('~/assets/images/img1.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img2.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img3.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img4.png'),
          alt: ''
        },
      ],
      [
        {
          src: import('~/assets/images/img6.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img8.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img7.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img5.png'),
          alt: ''
        },
      ],
      [
        {
          src: import('~/assets/images/img9.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img15.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img11.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img12.png'),
          alt: ''
        },
      ],

      [
        {
          src: import('~/assets/images/img13.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img14.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img16.png'),
          alt: ''
        },
        {
          src: import('~/assets/images/img10.png'),
          alt: ''
        },
      ],
    ]}
  />
  
  <Features
    title="Électro-ménager et Équipements"
    subtitle="Découvrez ce que propose le logement en termes d'équipements."
    items={[
      [
        {
          title: 'Cuisine équipée',
          description:
            'Cuisine équipée avec four, lave-vaisselle, réfrigérateur, congélateur, micro-ondes, plaques, bouilloire, et grille-pain.',
          icon: 'tabler:soup',
        },
        {
          title: 'Parking gratuit',
          description:
            'Parking gratuit et sécurisé dans la cour du chalet, dès votre arrivée.',
          icon: 'tabler:car',
        },
        {
          title: 'Vue sur la montagne',
          description:
            'A 2 minutes à pied, le Semnoz saura vous conquir en été comme en hiver à travers ses randonnées initiatiques.',
          icon: 'tabler:mountain',
        },
      ],
      [
        {
          title: 'Sauna privé',
          description:
            'Sauna accessible à la demande disponible dans le jardin des propriétaires, qui saura vous détendre en été et vous réchauffer en hiver.',
          icon: 'tabler:pool',
        },
        {
          title: 'Terrasse privée',
          description:
            'Terrasse privative avec salon de jardin et barbecue disponible à la demande.',
          icon: 'tabler:windmill',
        },
        {
          title: 'Accès au lac',
          description:
            'A 10 minutes à pied vous trouverez la plage du Clos-Berthet et son accès au lac pour petits et grands ! Paddle disponible en location.',
          icon: 'tabler:ship',
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Etoiles AirBnB', value: '5' },
      { name: 'Clients Satisfaits', value: '10+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Prendre contact',
      href: 'mailto:simonguillaume@rocketmail.com',
      icon: 'tabler:at',
    }}
  >
    <Fragment slot="title">
      Namaste <br class="block" />
    </Fragment>

    <Fragment slot="subtitle">
      Ne tardez plus à prendre contact pour réserver vos vacances de rêve à deux pas d'Annecy.
    </Fragment>
  </CallToAction>
</Layout>
